.navbar-brand-text {
    font-weight: bold;
    font-size: 1.5em;
    margin-left: 10px;
}

.big-logo {
    max-height: 3rem !important;
}

.gp-achievement {
    padding: 0.6rem !important;
}

.gp-achievement .title {
    margin-bottom: 0.1rem !important;
}

.gp-achievement p {
    margin-bottom: 0.1rem !important;
    font-size: 1em !important;
}

.gp-achievement:not(:last-child) {
    margin-bottom: 0.5rem !important;
}

.gp-complection-persent {
    background-color: #888;
    display: inline-block;
    padding: 0.1rem 0.2rem;
    font-size: 0.8em !important;
    border-radius: 3px;
    color: #eee;
}