@(ach: model.Achievement)

<div class="box" style="height:100px">
    <article class="media">
        <div class="media-left">
            <figure class="image is-64x64">
                <img src=@{ if (ach.isAchieved()) ach.getIconUrl() else ach.getIconUrlGray() }>
            </figure>
        </div>
        <div class="media-content">
            <div class="content">
                <h1 class="title">
                    @{ ach.getTitle() + " " + ach.getPercent() }
                </h1>
            </div>
        </div>
    </article>
</div>