@(ach: model.Achievement)

<div class="box gp-achievement" xmlns:https="http://www.w3.org/1999/xhtml">
    <article class="media">
        <div class="media-left">
            <figure class="image is-64x64">
                <img src=@{ if (ach.isAchieved()) ach.getIconUrl() else ach.getIconUrlGray() }>
            </figure>
        </div>
        <div class="media-content">
            <div class="content">
                <h6 class="title is-6">
                    @{ ach.getTitle() }
                </h6>
                <p>
                    @{ if (ach.getDescription().isEmpty()) " " else ach.getDescription() }
                </p>
                <div class="gp-complection-persent">
                    @{ ach.getPercent() }%
                </div>
            </div>
        </div>
        <div class="media-right">
            <img src="@{ ach.getGame().getIconUrl() }" title="@{ ach.getGame().getName() }">
            <a href="@{ String.format(" https://google.com/search?q=achievement+%s+%s", ach.getTitle(),
            ach.getGame().getName()) }">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/588px-Google_%22G%22_Logo.svg.png"
                 title="find help in google" width="32" height="32">
            </a>
        </div>
    </article>
</div>