@(avatarUrl: String, rarestAchieved: java.util.List[model.Achievement], mostCommonUnAchieved: java.util.List[model.Achievement])

@main("GabenPls")(navigation(avatarUrl)) {
<div class="columns">
    <div class="column">
        <div class="container box has-background-light">
            <h3 class="title is-3"><a href="/achievements/filter">Your rarest achievements</a></h3>
            @for(elem <- rarestAchieved) {
            @achievement(elem)
            }
        </div>
    </div>

    <div class="column">
        <div class="container box has-background-light">
            <h3 class="title is-3"><a href="/achievements/filter">Easiest to get</a></h3>
            @for(elem <- mostCommonUnAchieved) {
            @achievement(elem)
            }
        </div>
    </div>
</div>
}