@(avatarUrl: String, rarestAchieved: java.util.List[model.Achievement], mostCommonUnAchieved: java.util.List[model.Achievement])

@main("GabenPls")(navigation(avatarUrl)) {
<div class="columns">
    <div class="column">
        <div class="container has-background-light">
            @for(elem <- rarestAchieved) {
            @achievement(elem)
            }
        </div>
    </div>

    <div class="column">
        <div class="container has-background-light">
            @for(elem <- mostCommonUnAchieved) {
            @achievement(elem)
            }
        </div>
    </div>
</div>
}