@(ach: model.Achievement)

<div class="box gp-achievement">
    <article class="media">
        <div class="media-left">
            <figure class="image is-64x64">
                <img src=@{ if (ach.isAchieved()) ach.getIconUrl() else ach.getIconUrlGray() }>
            </figure>
        </div>
        <div class="media-content">
            <div class="content">
                <h6 class="title is-6">
                    @{ ach.getTitle() }
                </h6>
                <p>
                    @{ if (ach.getDescription().isEmpty()) "   " else ach.getDescription() }
                </p>
                <div class="gp-complection-persent">
                    @{ ach.getPercent() }%
                </div>
            </div>
        </div>
        <div class="media-right">
            <img src="@{ ach.getGame().getIconUrl() }" title="@{ ach.getGame().getName() }">
        </div>
    </article>
</div>