@(avatarUrl: String, initialAchievements: java.util.List[model.Achievement], games: java.util.List[model.Game])

@main("Filter your achievements")(navigation(avatarUrl)) {
    <div class="container">
        <form id="gp-achievements-filter">
            <label class="label">Select Game</label>
            <div class="control">
                <div class="select is-multiple">
                    <select id="gp-game-select" size="4" multiple>
                        @for(game <- games) {
                        <option value="@{ game.getId() }">@{ game.getName }</option>
                        }
                    </select>
                </div>
            </div>
        </form>
    </div>

    <div class="container has-background-light" id="gp-filter-result">
        @for(elem <- initialAchievements) {
            @achievement(elem)
        }
    </div>
    <script src="@routes.Assets.versioned("javascripts/filter_page.js")" type="text/javascript"></script>
}