@()

@main("GabenPls")(navigation(null)) {
<section class="section highlight">
    <div class="container">
        <h3>Press the ROOOONE when the match starts</h3>
        <button style="height:200px;width:200px" id="runeButton"  onclick="setRunesAlarm()"><img src="/assets/images/rune.jpg"></button>
        <button style="height:200px;width:200px" id="roshanButton" onclick="setRoshAlarm()"><img src="https://doodlepark.ru/images/004/712/702/4712702/990xnoinc/1.png"></button>
    </div>
</section>
<script src="@routes.Assets.versioned("javascripts/runes.js")" type="text/javascript"></script>
}