@()

@main("GabenPls")(navigation(null)) {
<section class="section highlight">
    <div class="container">
        <h3>Press the ROOOONE when the match starts</h3>
        <button id="runeButton" onclick="setAlarm()"><img src="/assets/images/rune.jpg"></button>
    </div>
    <span id="minutes" style="font-size: 450%;"></span><t4 id="dots" style="font-size: 450%;">:</t4><span id="seconds" style="font-size: 450%;" ></span>
</section>
<script src="@routes.Assets.versioned("javascripts/runes.js")" type="text/javascript"></script>
}